# config file version
apiVersion: 1

datasources:
  - name: Prometheus
    uid: "Prometheus"
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: GET
    
      
  - name: MAC IPv6 Bindings
    uid: "MAC IPv6 Bindings"
    type: elasticsearch
    access: proxy
    url: http://172.80.80.9:9200
    isDefault: false
    jsonData:
      index: '[mac-ipv6-]YYYY.MM.DD'
      interval: Daily
      timeField: '@timestamp'
      logMessageField: message
